# Gradle
.gradle/
build/

# Android
app/build/
core/build/
driver/build/
local.properties
.externalNativeBuild/
.cxx/

# IDE
*.iml
.idea/

# OS
.DS_Store

# Temporary files
*.patch
*.temp
*.tmp
*.orig
*.swp
*~
*.bak
*.log

# Explicitly include debug keystore for stable signing
!app/debug.keystore
jtagger_src/
kotlinc/
*.jar
Test*
*.py
